/* General Styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url(images/dale.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
body::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent overlay */
    z-index: -1; 
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #6d5946;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* h1 {
    background-color: #75aff1;
    color: white;
    padding: 20px;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

/* Album Layout */
.album {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

/* Flip Card Container */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 350px; 
    perspective: 1000px;
    transition: transform 0.5s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card:hover {
    transform: scale(1.05);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
    /* overflow: hidden; */
}

/* Flip effect when .flip class is added */
.flip-card-inner.flip {
    transform: rotateY(180deg);
}

/* Front and Back of the Flip Card */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}
.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



/* Styling the Back of the Card */
.flip-card-back {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transform: rotateY(180deg);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.flip-card-back p {
    font-size: 1.1rem;
    margin: 0;
}

.flip-card-back a {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.flip-card-back a:hover {
    background-color: #357ABD;
}
